fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pymysql==1.1.1
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
pydantic==2.9.2
python-multipart==0.0.9
phonenumbers==8.13.45
bcrypt==4.2.0
